@import "../../../../../styles";

.dialog-title {
  margin: 0;
}
.add-pubpik-form {
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.desc-form-field {
  min-height: 4rem;
  height: 4rem;
  max-height: 4rem;
  line-height: 1.5;
}

.submit-btn {
  @extend %button;
}

.add-image-btn,
img {
  height: 5rem;
  width: 5rem;
  margin: 0.2rem;
  border-radius: 0.5rem;
  border: 0.15rem solid $primary;
  object-fit: cover;
  transition: transform 250ms ease-in-out;

  &:hover {
    transform: scale(1.02);
  }
}

.image-section {
  height: 6rem;
  overflow-y: auto;
  margin-bottom: 1rem;
}
