<mat-progress-bar *ngIf="isValidForm" mode="indeterminate"></mat-progress-bar>
<div class="register" fxLayout>
  <div
    fxHide.xs
    fxHide.sm
    fxFlex="1 2 30"
    fxLayout="Column"
    class="register-sidePanel"
    [ngClass]="{ registerSidePanel: (isDarkTheme | async) }"
    fxLayoutAlign="center start"
  >
    <div class="sidePanel-content" fxFlex="80" fxLayout="Column">
      <button
        class="arrow-back-icon mat-elevation-z1"
        mat-icon-button
        routerLink=".."
        matTooltip="Retour à la page accueil"
        matTooltipPosition="after"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h1>{{ title }}</h1>
      <h2>{{ desc }}</h2>
      <h3>
        Déjà membre ?
        <button (click)="openLoginDialog()" mat-button>Connectez-vous</button>
      </h3>
      <img
        fxFlex="60"
        src="../../../assets/undraw_online_connection_6778.svg"
        alt="img-pic-share"
      />
    </div>
  </div>
  <div
    class="register-container"
    fxFlex="2 1 70"
    fxFlex.sm="100"
    fxFlex.xs="100"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <div fxFlex="60" fxFlex.xs="80" fxLayout="column">
      <button
        fxHide.lg
        fxHide.md
        class="arrow-back-icon mat-elevation-z1"
        mat-icon-button
        routerLink=".."
        matTooltip="Retour à la page accueil"
        matTooltipPosition="after"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h1 mat-title>Inscription sur {{ title }}</h1>
      <h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, totam!
        Unde consectetur minus, perspiciatis molestiae molestias mollitia
        recusandae omnis sequi eius repudiandae aliquid nostrum hic dolorum eos
        tenetur laborum! Nisi!
      </h3>
      <form
        class="register-form"
        fxLayout="row wrap"
        fxLayoutAlign="space-between center"
        [formGroup]="registerForm"
        (ngSubmit)="onSubmit()"
      >
        <mat-form-field appearance="outline" fxFlex="48">
          <mat-label>Nom ou Pre-nom</mat-label>
          <input
            type="type"
            matInput
            formControlName="firstName"
            placeholder="Entez votre nom ou votre pre-nom"
          />
          <mat-error *ngIf="firstName?.hasError('required')">
            Completer votre nom s'il vous plait !
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="48">
          <mat-label>Post-nom</mat-label>
          <input
            type="email"
            matInput
            formControlName="lastName"
            placeholder="Entrez votre post-nom"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            formControlName="email"
            placeholder="Adresse mail"
          />
          <mat-error
            *ngIf="email?.hasError('email') && !email?.hasError('required')"
          >
            Email invalide
          </mat-error>
          <mat-error *ngIf="email?.hasError('required')">
            Email est <strong>recommandé</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="48">
          <mat-label>Mot de passe</mat-label>
          <input
            matInput
            [type]="isHide ? 'password' : 'text'"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="isHide = !isHide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="isHide"
          >
            <mat-icon>{{ isHide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error
            *ngIf="
              password?.hasError('minlength') && !password?.hasError('required')
            "
          >
            6 caractères au-minimum
          </mat-error>
          <mat-error *ngIf="password?.hasError('required')">
            Le mot de passe est<strong>indispensable</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="48">
          <mat-label>Confirmez le mot de passe</mat-label>
          <input
            matInput
            [type]="isHide ? 'password' : 'text'"
            formControlName="confirmPassword"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="isHide = !isHide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="isHide"
          >
            <mat-icon>{{ isHide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error
            *ngIf="
              confirmPassword?.hasError('passwordMismatch') &&
              !confirmPassword?.hasError('required')
            "
          >
            Les mots de passe ne correspondent pas
          </mat-error>
          <mat-error *ngIf="confirmPassword?.hasError('required')">
            Veillez confirmez votre mot de passe
          </mat-error>
        </mat-form-field>

        <div fxLayout="row">
          <div fxFlex="2 1 100">
            En créant un compte, cela signifie que vous acceptez nos
            <a
              href="https://#"
              target="_blank"
              rel="noreferrer"
              [ngClass]="{ links: (isDarkTheme | async) }"
              >Conditions d'Utilisation</a
            >, notre
            <a
              href="https://#"
              target="_blank"
              rel="noreferrer"
              [ngClass]="{ links: (isDarkTheme | async) }"
              >Politique de Confidentialité</a
            >
            et nos
            <a
              href="https://#"
              target="_blank"
              rel="noreferrer"
              [ngClass]="{ links: (isDarkTheme | async) }"
              >Paramètres de Notification</a
            >
            par défaut
          </div>
        </div>
        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="isValidForm"
        >
          Créer un compte
        </button>
        <button
          fxHide.lg
          fxHide.md
          (click)="openLoginDialog()"
          mat-flat-button
          color="accent"
        >
          Connectez-vous
        </button>
      </form>
    </div>
  </div>
</div>
