@use "../../../styles" as *;

.menu-container {
  height: 100vh;
  transition: 1s;
  overflow: auto;

  @include scrollbar(0.6rem, 0.5rem);

  &::-webkit-scrollbar-thumb {
    background: darkgray;
  }
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
  animation: fade 1s ease forwards;

  .left-container {
    img {
      height: 2rem;
      background: $primary;
      border-radius: 50%;
      border: 0.2rem solid $accent;
      cursor: pointer;
      margin-right: 1rem;
    }

    mat-form-field {
      font-size: 1rem;
      width: 60%;
      ::ng-deep {
        .mat-form-field-wrapper {
          margin: 0;
          padding: 0;
        }
        .mat-form-field-infix {
          border-top: 0;
          padding: 0.5rem;
        }
      }
    }
  }

  .center-container {
    button {
      @extend %button;
      margin: 0 0.2rem;
    }

    .active {
      background: darkgray;
    }
  }

  .right-container {
    button {
      margin-left: 1rem;
    }

    app-user-profil-img {
      height: 2rem;
      width: 2rem;
    }
  }

  @media (max-width: 60rem) {
    .right-container {
      button {
        margin-left: 0rem;
      }
    }
  }
}

.darkBackgroundColor {
  background: #424242;
}

.buttonDark {
  color: $black-color;
}
