<div style="height: 100vh">
  <mat-horizontal-stepper linear align="center">
    <mat-step
      label="La vérification de l'adresse mail"
      [completed]="isEmailVerified | async"
    >
      <mat-progress-bar
        *ngIf="isProgressBarVisible"
        mode="indeterminate"
      ></mat-progress-bar>
      <div>
        <img src="../../../../../assets/undraw_Mailbox_re_dvds.svg" alt="" />
        <h1>Pour continuer {{ title }} doit approuver votre adresse email</h1>
        <h2>
          {{ title }} a envoyé un email de verification sur
          <strong>{{ userEmail }}</strong> cliquez sur le lien qui vous a été
          envoyé dans votre boite mail et votre compte sera approuvé et de ce
          fait vous serez alors capable de séléctionner vos centres d'interet et
          si le button <strong>Séléctionnez vos centres d'interet</strong> ne
          s'active pas automatiquement
          <span
            class="reload"
            (click)="onReloadUser()"
            [ngClass]="{ darkLink: (isDarkTheme | async) }"
          >
            Cliquez ici</span
          >
        </h2>
        <button mat-flat-button color="accent" (click)="onWrongEmail()">
          Mauvaise addresse mail ?
        </button>
        <button
          mat-flat-button
          color="primary"
          matStepperNext
          [disabled]="!(isEmailVerified | async)"
        >
          Séléctionnez vos centres d'interet
        </button>
      </div>
    </mat-step>
    <mat-step label="Séléction des préférences">
      <mat-progress-bar
        *ngIf="isProgressBarVisible"
        mode="indeterminate"
      ></mat-progress-bar>
      <h1 *ngIf="selectedItemCount === 0">
        Veillez séléctionner au minimum 5 centres d'interet, cela permettra à
        {{ title }} de personaliser votre page d'accueil selon vos préférences
      </h1>
      <h1 *ngIf="selectedItemCount > 1">
        {{ selectedItemCount }} elements ajoutés comme vos centres d'interet
      </h1>
      <h2 *ngIf="selectedItemCount === 1">
        {{ selectedItemCount }} element ajouté comme votre centre d'interet
      </h2>
      <div class="categories">
        <mat-button-toggle
          *ngFor="let categorie of interestCenter$ | async"
          #toggle
          [style.background]="
            toggle.checked ? categorie.categoryColor : 'lightgray'
          "
          [value]="categorie"
          (click)="onInterestCenterselected(toggle.value, toggle.checked)"
          [style.color]="toggle.checked ? 'black' : ''"
          >{{ categorie.categoryName }}</mat-button-toggle
        >
      </div>
      <div class="btn-lancez-vous">
        <button
          mat-flat-button
          color="primary"
          [disabled]="isNotRecommandedNumber"
          (click)="onAddInterestCenter()"
        >
          Lancez-vous
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
