<mat-progress-bar
  *ngIf="isProgressBarVisible"
  mode="indeterminate"
></mat-progress-bar>
<div class="email-verification">
  <div *ngIf="!(isEmailVerified | async)" fxLayout="column">
    <h1>Pour continuer {{ title }} doit approuver votre adresse email</h1>
    <h2>
      {{ title }} a envoyé un email de verification sur
      <strong>{{ userEmail }}</strong> cliquez sur le lien qui vous a été envoyé
      dans votre boite mail et votre compte sera approuvé et de ce fait vous
      serez alors capable de séléctionner vos centres d'interet et si
      <strong>les centres d'interet</strong> ne s'affichent pas automatiquement
      <span
        class="reload"
        (click)="onReloadUser()"
        [ngClass]="{ darkLink: (isDarkTheme | async) }"
      >
        Cliquez ici</span
      >
    </h2>
    <button
      fxFlex.xs="100"
      fxFlexAlign="center"
      mat-flat-button
      color="accent"
      *ngIf="!(isEmailVerified | async)"
      (click)="onWrongEmail()"
    >
      Mauvaise addresse mail ?
    </button>
  </div>
  <div *ngIf="isEmailVerified | async" fxLayout="column">
    <h1 *ngIf="selectedItemCount === 0">
      Veillez séléctionner au minimum 5 centres d'interet, cela permettra à
      {{ title }} de personaliser votre page d'accueil selon vos préférences
    </h1>
    <h1 *ngIf="selectedItemCount > 1">
      {{ selectedItemCount }} elements ajoutés comme vos centres d'interet
    </h1>
    <h1 *ngIf="selectedItemCount === 1">
      {{ selectedItemCount }} element ajouté comme votre centre d'interet
    </h1>
    <div class="categories-container">
      <mat-button-toggle
        *ngFor="let categorie of interestCenter$ | async"
        #toggle
        [style.background]="
          toggle.checked ? categorie.categoryColor : 'lightgray'
        "
        [value]="categorie"
        (click)="onInterestCenterselected(toggle.value, toggle.checked)"
        [style.color]="toggle.checked ? 'black' : ''"
        >{{ categorie.categoryName }}</mat-button-toggle
      >
    </div>
    <button
      fxFlex.xs="100"
      fxFlexAlign="end"
      mat-flat-button
      color="primary"
      *ngIf="isEmailVerified | async"
      [disabled]="isNotRecommandedNumber"
      (click)="onAddInterestCenter()"
    >
      Lancez-vous
    </button>
  </div>
</div>
