<mat-toolbar [ngClass]="{ darkBackgroundColor: (isDarkTheme | async) }">
  <button class="menu-btn" mat-icon-button (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <div
    class="toolbar-content"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <img src="../../../assets/logoo.png" (click)="refreshPage()" alt="" />
    <h1
      class="mat-display-1"
      fxHide.xs
      *ngIf="pageName === 'accueil'"
      (click)="refreshPage()"
    >
      {{ title }}
    </h1>
    <div
      *ngIf="pageName === 'explorer'"
      class="search-bar"
      [ngClass]="{ searchBarDark: (isDarkTheme | async) }"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <mat-icon>search</mat-icon>
      <input
        type="text"
        [ngClass]="{ inputDark: (isDarkTheme | async) }"
        placeholder="Rechercher..."
      />
    </div>
    <div fxLayout="row">
      <mat-menu #appMenu="matMenu" class="menu">
        <div
          class="menu-categories-btn"
          fxLayout="column"
          gdGap="0.3rem"
          style="margin: 0 0.3rem"
        >
          <button
            mat-flat-button
            color="primary"
            (click)="onFilterByCategory('toutes')"
          >
            Toutes
          </button>
          <button
            mat-flat-button
            [ngClass]="{ buttonDark: (isDarkTheme | async) }"
            *ngFor="let interestCenter of interestCenters | async"
            [style.background]="interestCenter.categoryColor"
            (click)="onFilterByCategory(interestCenter.categoryName)"
          >
            {{ interestCenter.categoryName }}
          </button>
        </div>
      </mat-menu>
      <div *ngIf="pageName === 'accueil'">
        <button
          *ngIf="activeViewPort !== 'lg'"
          fxFlexAlign="center"
          mat-icon-button
          class="theme-icon"
          matTooltip="Vos Categoteries"
          [matMenuTriggerFor]="appMenu"
        >
          <mat-icon>category</mat-icon>
        </button>
      </div>
      <button
        fxFlexAlign="center"
        mat-icon-button
        class="theme-icon"
        matTooltip="Changer le theme"
        (click)="switchTheme()"
      >
        <mat-icon *ngIf="isDarkTheme | async">light_mode</mat-icon>
        <mat-icon *ngIf="!(isDarkTheme | async)">dark_mode</mat-icon>
      </button>
      <button
        *ngIf="pageName === 'accueil'"
        fxFlexAlign="center"
        mat-icon-button
        class="mat-elevation-z1"
        matTooltip="Ajouter un {{ title }}"
        (click)="openAddPubPikDialog()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
