@import "../../../styles";

mat-sidenav-container {
  height: 100vh;
  width: 100vw;
}

mat-sidenav {
  width: 4rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;

  .icons {
    overflow: hidden;
  }

  .active {
    background: $accent-low-opacity;
    border-left: 0.4rem solid $primary;
  }

  button {
    height: 3.85rem;
    border-radius: 0;
    transition: 0.5s;
  }

  .profile-img {
    background: $primary;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    .profile-text {
      color: $white-color;
      font-weight: bold;
      opacity: 0.5;
    }
  }
}
