<app-process-register
  *ngIf="!isRegisterProcessDone && isInitializing"
  class="mat-app-background"
  [userEmail]="userEmail"
  [userID]="userID"
  [reloadUser]="reloadUser"
  [isEmailVerified]="isEmailVerified"
  [isDarkTheme]="isDarkTheme"
  [currentUserData]="currentUserData | async"
  [isInterestCenterChoosen]="isInterestCenterChoosen"
>
</app-process-register>
<input #activeViewPort [value]="(mqObsever | async)?.mqAlias" type="hidden" />
<mat-sidenav-container *ngIf="isRegisterProcessDone && isInitializing">
  <mat-sidenav mode="side" [(opened)]="opened">
    <div
      class="icons"
      fxLayout="column"
      fxFlexFill
      fxLayoutAlign="space-between center"
    >
      <div>
        <button
          mat-button
          [ngClass]="{
            active: indexPage == 0,
            activeDark: (isDarkTheme | async) && indexPage == 0
          }"
          (click)="onSwitchPages(0)"
          matTooltip="Accueil"
          matTooltipPosition="after"
        >
          <mat-icon>home</mat-icon>
        </button>
        <button
          mat-button
          [ngClass]="{
            active: indexPage == 1,
            activeDark: (isDarkTheme | async) && indexPage == 1
          }"
          (click)="onSwitchPages(1)"
          matTooltip="Explorer"
          matTooltipPosition="after"
        >
          <mat-icon>explore</mat-icon>
        </button>
        <button
          mat-button
          [ngClass]="{
            active: indexPage == 2,
            activeDark: (isDarkTheme | async) && indexPage == 2
          }"
          (click)="onSwitchPages(2)"
          matTooltip="Message"
          matTooltipPosition="after"
        >
          <mat-icon>chat</mat-icon>
        </button>
      </div>
      <div>
        <button
          mat-button
          [ngClass]="{
            active: indexPage == 3,
            activeDark: (isDarkTheme | async) && indexPage == 3
          }"
          (click)="onSwitchPages(3)"
          matTooltip="Notification"
          matTooltipPosition="after"
        >
          <mat-icon>notifications_active</mat-icon>
        </button>
        <button
          mat-button
          [ngClass]="{
            active: indexPage == 4,
            activeDark: (isDarkTheme | async) && indexPage == 4
          }"
          (click)="onSwitchPages(4)"
          matTooltip="Profile"
          matTooltipPosition="after"
        >
          <app-user-profil-img
            fxLayoutAlign="center"
            [isDarkTheme]="isDarkTheme"
            [currentUserData]="currentUserData"
          ></app-user-profil-img>
        </button>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-home-page
      *ngIf="indexPage == 0"
      [title]="title"
      [userID]="userID"
      [activeViewPort]="activeViewPort.value"
      [isDarkTheme]="isDarkTheme"
      [currentUserData]="currentUserData"
    >
    </app-home-page>
    <app-explorer
      *ngIf="indexPage == 1"
      [userID]="userID"
      [activeViewPort]="activeViewPort.value"
      [isDarkTheme]="isDarkTheme"
    ></app-explorer>
    <app-chat *ngIf="indexPage == 2"></app-chat>
    <app-notifications *ngIf="indexPage == 3"></app-notifications>
    <app-profile
      *ngIf="indexPage == 4"
      [userID]="userID"
      [title]="title"
      [activeViewPort]="activeViewPort.value"
      [isDarkTheme]="isDarkTheme"
      [currentUserData]="currentUserData"
      [userData]="currentUserData | async"
    ></app-profile>
  </mat-sidenav-content>
</mat-sidenav-container>
