<app-process-register
  *ngIf="!isRegisterProcessDone && isInitializing"
  [userEmail]="userEmail"
  [userID]="userID"
  [reloadUser]="reloadUser"
  [isEmailVerified]="isEmailVerified"
  [currentUserData]="currentUserData"
  [categoriesData]="categoriesData"
  [isInterestCenterChoosen]="isInterestCenterChoosen"
>
</app-process-register>
<mat-sidenav-container *ngIf="isRegisterProcessDone && isInitializing">
  <mat-sidenav
    mode="side"
    [(opened)]="activeViewPort !== 'xs' ? !opened : opened"
  >
    <div
      class="icons"
      fxLayout="column"
      fxFlexFill
      fxLayoutAlign="space-between center"
    >
      <div>
        <button
          mat-button
          color="primary"
          [ngClass]="{ active: indexPage == 0 }"
          (click)="onSwitchPages(0)"
          matTooltip="Accueil"
          matTooltipPosition="after"
        >
          <mat-icon>home</mat-icon>
        </button>
        <button
          mat-button
          color="primary"
          [ngClass]="{ active: indexPage == 1 }"
          (click)="onSwitchPages(1)"
          matTooltip="Explorer"
          matTooltipPosition="after"
        >
          <mat-icon>explore</mat-icon>
        </button>

        <button
          mat-button
          color="primary"
          [ngClass]="{ active: indexPage == 2 }"
          (click)="onSwitchPages(2)"
          matTooltip="Communauté"
          matTooltipPosition="after"
        >
          <mat-icon>group</mat-icon>
        </button>
        <button
          mat-button
          color="primary"
          [ngClass]="{ active: indexPage == 3 }"
          (click)="onSwitchPages(3)"
          matTooltip="Message"
          matTooltipPosition="after"
        >
          <mat-icon>chat</mat-icon>
        </button>
      </div>
      <div>
        <button
          mat-button
          color="primary"
          [ngClass]="{ active: indexPage == 4 }"
          (click)="onSwitchPages(4)"
          matTooltip="Notification"
          matTooltipPosition="after"
        >
          <mat-icon>notifications_active</mat-icon>
        </button>
        <button
          mat-button
          color="primary"
          [ngClass]="{ active: indexPage == 5 }"
          (click)="onSwitchPages(5)"
          matTooltip="Profile"
          matTooltipPosition="after"
        >
          <div class="profile-img">
            <h1 class="profile-text" *ngIf="currentUserData.imgProfil === ''">
              {{ currentUserData.nom[0] }}
            </h1>
            <img
              *ngIf="currentUserData.imgProfil !== ''"
              [src]="currentUserData.imgProfil"
              alt=""
            />
          </div>
        </button>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-home-page
      [categories]="categoriesData"
      [userData]="currentUserData"
      *ngIf="indexPage == 0"
    >
    </app-home-page>
    <app-explorer *ngIf="indexPage == 1"></app-explorer>
    <app-users *ngIf="indexPage == 2"></app-users>
    <app-chat *ngIf="indexPage == 3"></app-chat>
    <app-notifications *ngIf="indexPage == 4"></app-notifications>
    <app-profile *ngIf="indexPage == 5"></app-profile>
  </mat-sidenav-content>
</mat-sidenav-container>
