<div
  class="dialog-title"
  mat-dialog-title
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <h1 fxFlex="70">Nouveau {{ data.title }}</h1>
  <h1>
    <button mat-icon-button mat-dialog-close matTooltip="Fermez cette fenetre">
      <mat-icon>close</mat-icon>
    </button>
  </h1>
</div>
<div class="image-section" fxLayout="row wrap">
  <img
    *ngFor="let imageUrl of imagesUrls"
    [src]="imageUrl"
    matTooltip="Double clic pour retirer"
    (dblclick)="removeSelectedImage(imageUrl)"
    alt="pubpik image"
  />
  <input
    type="file"
    #selectImage
    style="display: none"
    (change)="selectFiles($event)"
    multiple
    accept=".png,.jpg,.jpeg"
  />
  <button
    class="add-image-btn"
    [ngClass]="{ addImageBtnDark: (isDarkTheme | async) }"
    mat-button
    color="primary"
    (click)="selectImage.click()"
    matTooltip="Ajouter une image"
    [disabled]="isImageLoading"
  >
    <mat-progress-spinner
      *ngIf="isImageLoading"
      mode="indeterminate"
      strokeWidth="2.5"
      diameter="40"
    ></mat-progress-spinner>
    <mat-icon *ngIf="!isImageLoading">add_photo_alternate</mat-icon>
  </button>
</div>
<form
  class="add-pubpik-form"
  mat-dialog-content
  [formGroup]="addPubPikForm"
  (ngSubmit)="onSubmit()"
  fxLayout="row wrap"
  fxLayoutAlign="space-between center"
>
  <mat-form-field fxFlex="100" appearance="outline">
    <mat-label>Titre de l'album</mat-label>
    <input
      type="text"
      matInput
      maxlength="50"
      #inputTitle
      formControlName="title"
      placeholder="Ex. Le paysage de la RDC en saison séche"
    />
    <mat-hint align="end">{{ inputTitle.value.length }} / 50</mat-hint>
    <mat-error *ngIf="title?.hasError('required')">
      Le titre est <strong>Obligatoire</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex="100" appearance="outline">
    <mat-label>Description du PubPik</mat-label>
    <textarea
      matInput
      #inputDescription
      maxlength="250"
      formControlName="description"
      class="desc-form-field"
    ></textarea>
    <mat-hint align="end">{{ inputDescription.value.length }} / 250</mat-hint>
  </mat-form-field>

  <mat-form-field fxFlex="100" appearance="outline">
    <mat-label>Catégorisez ce PubPik</mat-label>
    <mat-select formControlName="category">
      <mat-option
        *ngFor="let categorie of data.categoriesData | async"
        [value]="categorie"
      >
        {{ categorie.categoryName }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="category?.hasError('required')"
      >Séléctionnez une catégorie</mat-error
    >
  </mat-form-field>
  <button
    class="submit-btn"
    mat-flat-button
    type="submit"
    [disabled]="isInvalidForm"
    color="primary"
  >
    PubPiker
  </button>
</form>
