@import "../../../../styles";

.dialog-title {
  margin: 0;
}
.add-pubpik-form {
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.submit-btn {
  @extend %button;
}

.add-image-btn,
img {
  height: 5rem;
  width: 5rem;
  margin: 0 0.2rem 1rem 0.2rem;
  object-fit: cover;
  @extend %button;
}

.add-image-btn {
  border: 0.15rem solid $primary;
}

.addImageBtnDark {
  border: 0.15rem solid $accent;
}
