@import "../../../styles";

.glass {
  height: 100vh;
  background: $linear-gradient;

  &-container {
    margin: 4%;
    @extend %glass-container;
    border-top-right-radius: 10rem;
    border-bottom-left-radius: 4rem;
    padding: 1rem 0;
    position: relative;
    z-index: 2;

    &-items {
      background: $linear-gradient-glass;
      border-radius: 1rem;
      border-bottom-left-radius: 3rem;
      padding: 2rem 0;
      min-width: 25em;

      .big-txt,
      h3, mat-icon {
        margin: 0;
        font-weight: bold;
        opacity: 0.8;
      }

      .icon-text{
        margin-top: 1rem;
      }

      mat-icon {
        width: 1rem;
        margin-right: 1.5rem;
      }

      button {
        margin-top: 1rem;
        @extend %button;
      }

      .glass-btn {
        margin-bottom: 1rem;
      }
    }
  }

  .circle1,
  .circle2 {
    background: $linear-gradient-glass;
    position: absolute;
    border-radius: 50%;
  }

  .circle1 {
    height: 20rem;
    width: 20rem;
    top: 1%;
    right: 1%;
  }

  .circle2 {
    height: 10rem;
    width: 10rem;
    bottom: 2%;
    left: 2%;
  }
}

@media (max-width: 37rem) {
  .glass-container-items {
    background: transparent;
    .big-txt,
    h2 {
      text-align: center;
    }
  }
}

.fonctionalite {
  margin: 4rem;

  .mat-display-2 {
    text-align: center;
    line-height: 1.2;
  }

  article {
    min-width: 16rem;
    margin-bottom: 1rem;

    h2 {
      margin-top: 1rem;
    }

    a {
      text-decoration: none;
      font-weight: bold;
    }
  }
}

@media (max-width: 38rem) {
  .fonctionalite {
    h2,
    h3,
    a {
      text-align: center;
    }
  }
}

.engagement {
  padding: 4rem;
  background: $linear-gradient;

  &-container {
    @extend %glass-container;
    padding: 2rem;

    .angularFire-logo {
      margin-bottom: 1rem;
      .angular-logo {
        @extend %glass-container;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      .firebase-logo {
        @extend %glass-container;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    .mat-display-1,
    h2 {
      margin-bottom: 1rem;
      text-align: center;
      opacity: 0.8;
    }

    button {
      @extend %button;
      width: 30%;
    }
  }
}

@media (max-width: 38rem) {
  .engagement {
    button {
      width: 90%;
    }
  }
}

footer {
  background: $background-footer;
  padding: 4rem;

  .footer-contenu {
    div {
      min-width: 5rem;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .copyright {
    opacity: 0.7;
  }
}

@media (max-width: 38rem) {
  footer {
    h2,
    p {
      text-align: center;
    }
  }
}
