<section class="glass" fxLayout="row" fxLayoutAlign="center center">
  <div
    class="glass-container"
    fxLayout="row"
    fxLayoutAlign="space-evenly center"
  >
    <div
      class="glass-container-items"
      fxFlex="1 1 35"
      fxFlex.xs="1 1 100"
      fxLayoutAlign="center start"
    >
      <div fxFlex="80">
        <div class="mat-display-2 big-txt">{{ title }}</div>
        <div class="mat-display-1 big-txt">{{ desc }}</div>
        <div class="icon-text"
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutAlign.xs="space-evenly center"
        >
          <mat-icon>auto_awesome</mat-icon>
          <h3>Suivez vos centres d'intérêt</h3>
        </div>
        <div class="icon-text"
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutAlign.xs="space-evenly center"
        >
          <mat-icon>auto_awesome_mosaic</mat-icon>
          <h3>Gérez vos photos et albums</h3>
        </div>
        <div class="icon-text"
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutAlign.xs="space-evenly center"
        >
          <mat-icon>photo_library</mat-icon>
          <h3>Découvrez les belles images</h3>
        </div>
        <button
          mat-flat-button
          (click)="goToRegister()"
          color="accent"
        >
          S'inscrire
        </button>
        <button mat-flat-button (click)="openLoginDialog()" color="primary">
          Se connecter
        </button>
      </div>
    </div>
    <div
      fxFlex.xs="1 1 0"
      fxFlex="2 3 60"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <img
        fxFlex="80"
        src="../assets/undraw_Upload_re_pasx.svg"
        alt="img-illustration"
      />
    </div>
  </div>
  <div class="circle1"></div>
  <div class="circle2"></div>
</section>

<section
  class="fonctionalite"
  fxLayout="row wrap"
  fxLayoutAlign="space-between start"
>
  <div class="mat-display-2" fxFlex="100">
    PubPik est une meilleure illustration pour bien apprendre Angular et
    Firebase
  </div>
  <article fxFlex="28" fxFlex.xs="100" fxLayout="column">
    <img fxFlex="30" src="../../../assets/auth.png" alt="angularfireAuth" />
    <h2>AngularFire Auth</h2>
    <h3>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
      asperiores quo eveniet sunt! Quidem architecto ea tempore optio esse
      facere saepe non beatae, assumenda alias. Praesentium asperiores quo
      eveniet sunt! Quidem architecto ea tempore optio esse facere saepe non
      beatae, assumenda alias. Dolores soluta doloremque suscipit vitae?
    </h3>
    <a href="https://google.firebase.com/docs" target="_blank" rel="noreferrer"
      >Lire la suite</a
    >
  </article>
  <article fxFlex="28" fxFlex.xs="100" fxLayout="column">
    <img src="../../../assets/firestore.png" alt="angularfireFirestore" />
    <h2>AngularFire Firestore</h2>
    <h3>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur
      adipisicing elit.
    </h3>
    <a href="https://google.firebase.com/docs" target="_blank" rel="noreferrer"
      >Lire la suite</a
    >
  </article>
  <article fxFlex="28" fxFlex.xs="100" fxLayout="column">
    <img src="../../../assets/storage.png" alt="angularfireStorage" />
    <h2>AngularFire Storage</h2>
    <h3>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Praesentium asperiores quo eveniet sunt!
      Praesentium asperiores quo eveniet sunt!
    </h3>
    <a href="https://google.firebase.com/docs" target="_blank" rel="noreferrer"
      >Lire la suite</a
    >
  </article>
</section>

<section class="engagement" fxLayout="column" fxLayoutAlign="center center">
  <div
    class="engagement-container"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="angularFire-logo" fxLayout="row" fxLayoutAlign="center center">
      <img
        class="angular-logo"
        fxFlex="15"
        src="../../../assets/Angular_full_color_logo.svg.png"
        alt="logo-angular"
      />
      <img
        class="firebase-logo"
        fxFlex="15"
        src="../../../assets/firebase-logo-402F407EE0-seeklogo.com.png"
        alt="logo-firebase"
      />
    </div>
    <div class="mat-display-1">Essayez PubPik aujourd'hui</div>
    <h2>Un cours sur Angular et Firebase bien expliqué et structuré</h2>
    <button mat-raised-button color="primary" (click)="goToRegister()">
      Commencer
    </button>
  </div>
</section>

<footer>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div
      class="footer-contenu"
      fxFlex="100"
      fxLayout="row wrap"
      fxLayoutAlign="space-between start"
    >
      <div fxFlex="17" fxFlex.xs="100">
        <h2>Contactez-nous</h2>
        <p>
          <a
            href="https://twitter.com/@drcmin2"
            target="_blank"
            rel="noreferrer"
            >Twitter</a
          >
        </p>
        <p>
          <a
            href="https://facebook.com/drcmind"
            target="_blank"
            rel="noreferrer"
            >Facebook</a
          >
        </p>
        <p>
          <a
            href="https://drcmindfrench@gmail.com"
            target="_blank"
            rel="noreferrer"
            >Gmail</a
          >
        </p>
        <p>
          <a href="https://github.com/drcmind" target="_blank" rel="noreferrer"
            >Github</a
          >
        </p>
        <p>
          <a href="https://youtube.com/drcmind" target="_blank" rel="noreferrer"
            >YouTube</a
          >
        </p>
      </div>
      <div fxFlex="17" fxFlex.xs="100" fxLayout="column">
        <h2>Tutoriels</h2>
        <p>
          <a href="https://angular.io" target="_blank" rel="noreferrer"
            >Angular</a
          >
        </p>
        <p>
          <a href="https://google.firebase.com" target="_blank" rel="noreferrer"
            >Firebase</a
          >
        </p>
        <p>
          <a
            href="https://github.com/AngularFire"
            target="_blank"
            rel="noreferrer"
            >AngularFire</a
          >
        </p>
        <p>
          <a href="https://material.angular.io" target="_blank" rel="noreferrer"
            >Angular material</a
          >
        </p>
      </div>
      <div fxFlex="15" fxFlex.xs="100" fxLayout="column">
        <h2>Entreprise</h2>
        <p><a href="https://#" target="_blank" rel="noreferrer">A propos</a></p>
        <p>
          <a href="https://#" target="_blank" rel="noreferrer"
            >Offre d'emploi</a
          >
        </p>
        <p><a href="https://#" target="_blank" rel="noreferrer">API</a></p>
        <p>
          <a href="https://#" target="_blank" rel="noreferrer"
            >Condition d'utilisation</a
          >
        </p>
        <p>
          <a href="https://#" target="_blank" rel="noreferrer"
            >Politique de confidentialité</a
          >
        </p>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div
    class="copyright"
    fxLayout="row wrap"
    fxLayoutAlign="space-between center"
  >
    <p fxFlex.xs="100">DrcMind © 2021. Tous les droits réservés</p>
    <p fxFlex.xs="100">Créer et maintenu par DrcMind</p>
  </div>
</footer>
