@use ".</../../styles" as *;

mat-sidenav-container {
  height: 100vh;
  width: 100vw;
  transition: 1s;
}

mat-sidenav {
  width: 4rem;

  .icons {
    overflow: hidden;
  }

  .active {
    background: $accent-low-opacity;
    border-left: 0.4rem solid $primary;
  }

  .activeDark {
    background: $primary-low-opacity;
    border-left: 0.4rem solid $accent;
  }

  button {
    height: 4rem;
    border-radius: 0;
    transition: 0.5s;
  }

  app-user-profil-img {
    height: 2rem;
    width: 2rem;
  }
}
