<mat-toolbar class="mat-elevation-z1">
  <button
    class="menu-btn"
    mat-icon-button
    *ngIf="activeViewPort === 'xs'"
    (click)="toggleMenu()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <div
    class="toolbar-content"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div fxLayout="row" (click)="refreshPage()">
      <img src="../../../../assets/logoo.png" alt="" />
      <h1
        *ngIf="activeViewPort !== 'xs'"
        class="mat-display-1"
        fxFlexAlign="center"
      >
        {{ title }}
      </h1>
    </div>
    <div fxLayout="row">
      <mat-menu #appMenu="matMenu" class="menu">
        <div
          class="menu-categories-btn"
          fxLayout="column"
          gdGap="0.3rem"
          style="margin: 0 0.3rem"
        >
          <button mat-flat-button color="primary" (click)="refreshPage()">
            Toutes
          </button>
          <button
            mat-flat-button
            *ngFor="let interestCenter of interestCenters"
            [style.background]="interestCenter.categoryColor"
            (click)="onFilterCategory(interestCenter.categoryName)"
          >
            {{ interestCenter.categoryName }}
          </button>
        </div>
      </mat-menu>
      <button
        *ngIf="activeViewPort !== 'lg'"
        fxFlexAlign="center"
        mat-icon-button
        class="mat-elevation-z1 theme-icon"
        matTooltip="Vos Categoteries"
        [matMenuTriggerFor]="appMenu"
      >
        <mat-icon>category</mat-icon>
      </button>
      <button
        fxFlexAlign="center"
        mat-icon-button
        class="mat-elevation-z1 theme-icon"
        matTooltip="Changer le theme"
      >
        <mat-icon>dark_mode</mat-icon>
      </button>
      <button
        fxFlexAlign="center"
        mat-icon-button
        class="mat-elevation-z1"
        matTooltip="Ajouter un {{ title }}"
        (click)="openAddPubPikDialog()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
<div class="main-page">
  <div
    class="main-container"
    fxLayout="row"
    fxLayoutAlign="space-between start"
  >
    <mat-card
      fxFlex="1 1 20"
      class="right-container mat-elevation-z1"
      *ngIf="activeViewPort === 'lg'"
    >
      <mat-card-title>Salut {{ userData.nom }}</mat-card-title>
      <mat-card-content>
        <h2></h2>
        <h3>
          Voici les catégories {{ title }}s qui composent votre page d'accueil
        </h3>
        <button mat-flat-button color="primary" (click)="refreshPage()">
          Toutes
        </button>
        <button
          mat-flat-button
          *ngFor="let interestCenter of interestCenters"
          [style.background]="interestCenter.categoryColor"
          (click)="onFilterCategory(interestCenter.categoryName)"
        >
          {{ interestCenter.categoryName }}
        </button>
      </mat-card-content>
    </mat-card>
    <div
      fxFlex="1 1 20"
      *ngIf="activeViewPort === 'lg'"
      class="right-container-invisible"
    >
      contenu invisible juste pour l'adaptation
    </div>
    <div fxFlex.lg="1 1 80" fxFlex="100" class="left-container">
      <app-pubpik-feed
        [pubpiksResult]="pubpiksResult"
        [activeViewPort]="activeViewPort"
        [userID]="userData.id"
      ></app-pubpik-feed>
    </div>
  </div>
</div>
