<app-toolbar
  [title]="title"
  [activeViewPort]="activeViewPort"
  [isDarkTheme]="isDarkTheme"
  [interestCenters]="interestCenters"
  [userData]="currentUserData | async"
  (newPubpiksFilterEvent)="onFilterByCategory($event)"
  pageName="accueil"
></app-toolbar>
<div class="main-page">
  <div class="main-container" fxLayoutAlign="space-between start">
    <mat-card
      fxFlex="20"
      class="right-container mat-elevation-z0"
      *ngIf="activeViewPort === 'lg'"
    >
      <mat-card-title>
        <h1>Salut {{ (currentUserData | async)?.nom }}</h1>
        <h3>
          Voici les catégories {{ title }}s qui composent votre page d'accueil
          vous pouvez toutes fois les modifier en cliquant
          <strong
            [ngClass]="{ strongDarkTheme: (isDarkTheme | async) }"
            (click)="editInterestsCenter()"
            >Ici</strong
          >
        </h3>
      </mat-card-title>
      <mat-card-content>
        <div
          *ngIf="isInterestCenterLoading"
          fxLayout="column"
          fxLayoutAlign="center center"
          style="margin: 1rem"
        >
          <mat-progress-spinner
            mode="indeterminate"
            strokeWidth="2.5"
            diameter="40"
          ></mat-progress-spinner>
        </div>
        <div *ngIf="!isInterestCenterLoading">
          <button
            mat-flat-button
            color="primary"
            (click)="onFilterByCategory('toutes')"
          >
            Toutes
          </button>
          <button
            *ngFor="let interestCenter of interestCenters | async"
            mat-flat-button
            [ngClass]="{ buttonDark: (isDarkTheme | async) }"
            [style.background]="interestCenter.categoryColor"
            (click)="onFilterByCategory(interestCenter.categoryName)"
          >
            {{ interestCenter.categoryName }}
          </button>
        </div>
      </mat-card-content>
    </mat-card>
    <div
      fxFlex="20"
      *ngIf="activeViewPort === 'lg'"
      class="right-container-invisible"
    >
      contenu invisible juste pour l'adaptation
    </div>
    <div fxFlex.lg="80" fxFlex="100">
      <app-pubpik-feed
        [interestCenters]="interestCenters"
        [activeViewPort]="activeViewPort"
        [isDarkTheme]="isDarkTheme"
        [userID]="userID"
        [filterPubpik]="filterPubpik"
        pageName="accueil"
      ></app-pubpik-feed>
    </div>
  </div>
</div>
