@import "../../../../../styles";

.pubpik-detail-section {
  overflow: hidden;
  transition: transform 250ms ease-in-out;
  animation: fade 1s ease forwards;

  .content-left {
    height: 100vh;
    position: relative;

    .img-container {
      background-color: black;
      position: relative;
      overflow: hidden;
      height: 100vh;

      img {
        height: 100%;
        width: 100%;
        animation: fade 1s ease forwards;
        object-fit: contain;
      }

      .next-btn,
      .prev-btn {
        position: absolute;
        background-color: $white-color;
        transform: translateY(-50%);
        top: 50%;
      }

      .prev-btn {
        left: 1rem;
      }

      .next-btn {
        right: 1rem;
      }

      .buttonDarkTheme {
        background-color: $black-color;
      }

      mat-progress-spinner {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: 50%;
      }
    }

    .action-icons {
      height: 4rem;
      width: 100%;
      position: absolute;
      padding: 1rem;
      z-index: 2;

      button {
        background-color: $white-color;
      }

      .buttonDarkTheme {
        background-color: $black-color;
      }
    }
  }

  .content-right {
    .user-info {
      margin: 1em;
      cursor: pointer;
      overflow: hidden;
    }

    .user-profil-img {
      height: 4em;
      width: 4em;
      border-radius: 50%;
      margin-right: 1rem;
    }

    .profile-img {
      height: 4em;
      width: 4em;
      border-radius: 50%;
      margin-right: 1em;
      object-fit: cover;
    }

    .profile-text {
      margin: 25% 0;
      font-weight: bold;
      color: black;
      opacity: 0.5;
    }
  }
}

mat-divider {
  margin-bottom: calc(0.5rem + 5vw);
}

.related-pubpik-section {
  padding: calc(0.5rem + 5vw);
  padding-top: 0;

  h1 {
    padding-bottom: calc(0.2rem + 2vw);
    font-weight: bold;
  }

  .mat-display-1 {
    margin: 0;
    padding-bottom: calc(0.2rem + 2vw);
  }
}
