<mat-progress-bar *ngIf="isValidForm" mode="indeterminate"></mat-progress-bar>
<div class="margin" *ngIf="isValidForm"></div>
<div
  class="title"
  mat-dialog-title
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <div fxFlex="50" class="mat-display-1">{{ title }}</div>
  <button
    class="mat-elevation-z1"
    mat-icon-button
    mat-dialog-close
    matTooltip="Fermez cette fenetre"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
<form
  class="login-form"
  mat-dialog-content
  [formGroup]="resetPasswordForm"
  (ngSubmit)="onSubmit()"
>
  <h2>
    En Fournissant votre email un lien sera envoyer via l'adresse fournit, cela
    vous permettra d'entrer un nouveau mot de passe
  </h2>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      formControlName="emailFormControl"
      placeholder="Ex. drcmind@example.com"
    />
    <mat-error
      *ngIf="
        emailFormControl?.hasError('email') &&
        !emailFormControl?.hasError('required')
      "
    >
      Email invalide
    </mat-error>
    <mat-error *ngIf="emailFormControl?.hasError('required')">
      Email est <strong>recommandée</strong>
    </mat-error>
  </mat-form-field>
  <button class="full-width" mat-flat-button color="primary" type="submit">
    Reinitialiser votre mot de passe
  </button>
</form>
