@import "~@angular/material/theming";

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: "Poppins, sans-serif",
);

// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);
@include mat-button-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);
// Override the typography in the core CSS.
@include mat-core($custom-typography);

$primary-color: mat-palette($mat-indigo, 900);
$accent-color: mat-palette($mat-amber);
$warn-color: mat-palette($mat-red);

$theme: mat-light-theme(
  (
    color: (
      primary: $primary-color,
      accent: $accent-color,
      warn: $warn-color,
    ),
  )
);

@include angular-material-theme($theme);
