/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

$white-color: #fafafa;
$black-color: #424242;
$primary: #130634;
$accent: #ffab00;
$accent-low-opacity: #f7be1f5e;
$primary-low-opacity: #1306345d;
$achor-tag-color: darkblue;
$achor-tag-darkTheme: lightseagreen;

%button {
  border-radius: 0.5rem;
  transition: transform 250ms ease-in-out;

  &:hover {
    transform: scale(1.02);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@mixin scrollbar($width, $border-radius) {
  &::-webkit-scrollbar {
    width: $width;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $border-radius;
  }
}
